/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
storage
storage/*
storage/framework/cache/data/08/74/08743582456b52abe1182f5a5a3e12b457ba28b8
